body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto , sans-serif;
  background: #ff7e5f;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #feb47b, #ff7e5f);
background: -o-linear-gradient(left, #feb47b, #ff7e5f);
background: linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
